/* Bouton mode sombre 🌙 / ☀️ */
.theme-btn {
    background: var(--color-primary);
    color: #fff;
    border: none;
    width: 40px;
    border-radius: 3px;
    font-size: medium;
    cursor: pointer;
    transition: var(--transition-medium);
    text-align: center;
}

.theme-btn:hover {
    background: var(--color-primary-dark);
}

body.dark-theme .theme-btn {
    background: var(--color-secondary);
}

body.dark-theme .theme-btn:hover {
    background: var(--color-secondary-dark);
}
