/* ---------------------------
   RESPONSIVE (petit écran)
   Ces media queries permettent d'adapter le design aux tablettes et mobiles.
--------------------------- */

/* Pour les écrans <= 1024px (tablettes larges / petits laptops) */
@media (max-width: 1024px) {

    /* La grille de cours passe de 3 colonnes à 2 colonnes */
    .courses-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Pour les écrans <= 768px (tablettes / mobiles portrait) */
@media (max-width: 768px) {

    /* Le container du header devient vertical (logo + nav empilés) */
    .header-container {

        gap: 15px;
        /* espace entre les éléments */

    }

    .logo {
        height: 50%;
        width: 50%;
        text-align: center;
    }

    .logo-text {
        font-size: large;
    }

    /* Menu de navigation en colonne pour faciliter le clic sur mobile */
    ul {
        display: flex;
        align-items: center;
        justify-content: space-around;
        text-align: center;
    }

    /* Taille du titre principal réduit pour s’adapter à l’écran */
    .hero h1 {
        font-size: 2.2rem;
    }

    /* Barre de recherche prend 80% de la largeur pour mobile */
    #search-input {
        width: 80%;
    }

    /* La grille de cours passe à 1 seule colonne pour mobile */
    .courses-grid {
        grid-template-columns: 1fr;
    }
}

/* Pour les écrans <= 480px (mobiles petits) */
@media (max-width: 480px) {

    .header-container {
        flex-direction: column;
    }

    nav {
        display: none;
        
    }


    /* Réduction du titre principal pour petits écrans */
    .hero h1 {
        font-size: 1.8rem;
    }

    /* Réduction du paragraphe de la section hero pour petits écrans */
    .hero p {
        font-size: 1rem;
    }

    /* Les cartes de catégories ont un padding réduit pour mieux tenir à l’écran */
    .category-card {
        padding: 20px;
    }

    .menu_toggle {
        display: block;
        position: absolute;
        right: 16px;
        top: 20px;
        width: 40px;
    }

    .active {
        display: block;
    }

    .nav ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 4px;
    }
    .theme-btn {
        position: absolute;
        left: 16px;
        top: 20px;
    }
}